<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>

</head>
<body>
    <div id="signinButton">
        <span class="g-signin"
                data-scope="openid email"
                data-clientid="873232807642-fc14pvd0mb0boscu0374uj1j80let728.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
        </span>
    </div>
    <fb:login-button 
        scope="public_profile,email"
        onlogin="sendTokenToServer();">
        <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
    </fb:login-button>
    <div id="result"></div>
    <script>
        function signInCallback(authResult){
            if(authResult['code']){
                $('#signinButton').attr('style','display:none')
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData: false,
                    contentType: 'application/octet-stream; charset=utf-8',
                    data: authResult['code'],
                    success: function(result){
                        if(result){
                            $('#result').html('Login Successful!</br>'+result+'</br>Redirecting...')
                            setTimeout(function(){
                                window.location.href = "/catalogs";
                            }, 4000);
                        } else if (authResult['error']){
                            console.log('There was an error: '+authResult)
                        } else {
                            $('#result').html('Failed to make a server-side call.')
                        }
                    }

                })
            }
        }
    </script>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
            appId      : '1903185406586915',
            cookie     : true,
            xfbml      : true,
            version    : 'v2.8'
            });
            FB.AppEvents.logPageView();   
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function sendTokenToServer(){
            var access_token = FB.getAuthResponse()['accessToken']
            FB.api('/me', function(response){
                $.ajax({
                    type: 'POST',
                    url: '/fbconnect?state={{STATE}}',
                    processData: false,
                    contentType: 'application/octet-stream; charset=utf-8',
                    data: access_token,
                    success: function(result){
                        if(result){
                            $('#result').html('Login Successful!</br>'+result+'</br>Redirecting...')
                            setTimeout(function(){
                                window.location.href = "/catalogs";
                            }, 4000);
                        } else if (authResult['error']){
                            console.log('There was an error: '+authResult)
                        } else {
                            $('#result').html('Failed to make a server-side call.')
                        }
                    }

                })
            })
        }
    </script>
</body>
</html>